<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraLog</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%= include('../partials/errorMessage.ejs') %>
    <!-- this will include all the other pages in our body  -->
    <%- body  %>
</body>
</html>